@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
/* font-family: 'Oswald', sans-serif; */
*{margin: 0; padding: 0;
font-family: 'Oswald', sans-serif;
}

#wrap{
    background: url(images/bg-main.jpg)no-repeat;
    height: 100vh;
}

.slick{}
.slick>div{}
.slick .slick-slide{position: relative; height: 100vh;
overflow: hidden;
}
.slick .slick-slide h2{position: absolute; font-size: 230px;
letter-spacing: 30px; line-height: 270px;
transform:translateX(-200px);
opacity: 0; color: #fff;
transition: 1.5s 0.7s;
}
.slick .slick-slide.slick-active  h2{
    transform:translateX(0px);
opacity: 1;
}



.slick .slick-slide img{position:absolute; 
    left:0; top:0; width: 1000px;
    transform: translateX(200px);
    opacity: 0;
    transition: 1.5s;
}
.slick .slick-slide.slick-active img{
    transform: translateX(0px);
    opacity: 1;
}


.slick .slick-slide .right{
    position: absolute;
    right: 10%; top: 15%; 
    width: 400px;
    height: 400px; background: #ccc;
    transform:translateY(-200px);
    opacity: 0;
    transition: 0.7s 1.5s;
}
.slick .slick-slide.slick-active .right{
    transform:translateY(0px);
    opacity: 1;
}


.slick .slick-arrow{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    border:none; background: none;
    font-size: 0; width:0; height: 0;
    
}
.slick .slick-prev{ z-index: 20; left: 5%;}
.slick .slick-prev::before{
    position: absolute;
    left: 0; top: 0;
    content: "\f053"; width: 30px; height: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    
}


.slick .slick-next{z-index: 20;right:5%}
.slick .slick-next::before{
    position: absolute;
    right: 0; top: 0;
    content: "\f054"; width: 30px; height: 30px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    
}